documents/
old_scripts/
plots_images/
old_csvs/
data/
docs/
plots/
scripts/1_clean_raw_motu_and_create_rra_tables_old
scripts/6_network_extras_with_pop_for_talk
scripts/bonus_period_ordination
scripts/bonus_unrarefied_data
nematodes_2018_assembled_setid_filterE2_nl_uniq_c10_ann_assignEMBL_nematoda_sumatra_sumaclust_assignedR134.tab
PCR_plate_plan_Georgia-2_corrected.xlsx
LongOrdinationResults.csv
99_pct_dataset.tab
data/plate_plan_mpala_nematodes.csv
data/raw_motu_table_mpala_nematodes.csv
data/new_mammal_tree_pruned.newick
data/Nematode_ITS2_1.0.0_dada2.fasta
data/host_metadata.csv
scripts/summary_information_and_alpha_diversity_with_phylo_stuff.R
