documents/
old_scripts/
plots_images/
old_csvs/
nematodes_2018_assembled_setid_filterE2_nl_uniq_c10_ann_assignEMBL_nematoda_sumatra_sumaclust_assignedR134.tab
PCR_plate_plan_Georgia-2_corrected.xlsx
LongOrdinationResults.csv
99_pct_dataset.tab